<div>
    <form [formGroup]="applyForm">
        <table>
            <tr>
                <td>
                    <label for="Name">Applicant Name:</label>
                </td>
                <td>
                    <input type="text" id="Name" formControlName="applicantName">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Gender">Gender:</label>
                </td>
                <td>
                    <input type="text" id="Gender" formControlName="applicantGender">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Employer">Employer:</label>
                </td>
                <td>
                    <input type="text" id="Employer" formControlName="applicantEmployer">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Salary">Salary:</label>
                </td>
                <td>
                    <input type="text" id="Salary" formControlName="applicantSalary">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Designation">Designation:</label>
                </td>
                <td>
                    <input type="text" id="Designation" formControlName="applicantDesignation">
                </td>
            </tr>
            
        </table>
    </form>
</div>