
.loan-card{
    max-width: 400px;
    margin: 5vh 10vh;
}
.approved{
    background-color: green;
}
.rejected{
    background-color: red;
}
.pending{
    background-color: gold;
}
.NoLoan{
    color:red;
}