.pageTitleRibbon{
    display: flex;
    height: 10vh;
    background-color: #1d3557;
    justify-content: space-between;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}
.pageTitle{
    font-size: 5vh;
    margin-left: 2vw;
    min-height: 30px;
    text-decoration:underline;
    text-decoration-color: red;
    display: flex;
}
.sideText{
    align-self: flex-end;
}