.TitleLogo{
    display: flex;
    font-size: 1rem;
}
.pageTitleRibbon{
    display: flex;
    /* height: 10vh; */
    padding-block:.75rem;
    background-color: var(--clr-dark);
    justify-content: space-between;
    color: var(--clr-fontLight);
    align-items: center;
    flex-wrap: wrap;
}
.pageTitle{
    margin-inline: 2vw;
    min-height: 30px;
    align-self: center;
    font-weight: 700;
}
.titleContent{

    text-decoration:underline;
    text-decoration-color: var(--clr-action);
    user-select: none;
    cursor: pointer;
}
.titleContent::after{
    content: '®';
    vertical-align: super;
    font-size: 0.5em;
    position: absolute;
    top: 15px;
}
.sideText{
    align-self: flex-end;
}
.actionsPanel{
    color: var(--clr-fontLight);
    margin-inline: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.loginRightContainer{
    display: flex;
}
.welcomeMessage{
    font-size: 1.25rem;
    align-self: center;
}
.rightItems{
    margin-inline: 0.5rem;
}
@media(min-width:1024px){
    .pageTitle .titleContent{
        font-size: 2.5rem;
    }
}
.LogoImage{
    height:3rem;
    padding-left: 1.25rem;
    user-select: none;
    cursor: pointer;
}