<br>
<a [routerLink]="['/manager']">back</a>
<div *ngIf="allApps.length == 0">
  <span style="color: red;">No Rejected Loan Applications</span>
</div>
<div  *ngFor="let loan of allApps">
  <mat-card class="loan-card">
    <mat-card-header>
      <mat-card-title>{{loan.title.toUpperCase()}}</mat-card-title>
      <img mat-card-sm-image [src]="loan.logo" alt="Photo of {{loan.title}}">

    </mat-card-header>
    <img mat-card-image class="userImage" [src]="loan.customerPicture" alt="Photo of User">
    
    <mat-card-content>
      <table>
        <tr>
          <td>Applicant:</td>
          <td>{{loan.name|titlecase}}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{loan.gender}}</td>
        </tr>
        <tr>
          <td>Current Employer:</td>
          <td>{{loan.currentemployer}}</td>
        </tr>
        <tr>
          <td>Salary:</td>
          <td>{{loan.salary|currency}}</td>
        </tr>
        <tr>
          <td>Designation:</td>
          <td>{{loan.designation}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Applied Amount</td>
          <td>{{loan.appliedAmount|currency}}</td>
        </tr>
        <tr>
          <td>Interest Rate</td>
          <td>{{loan.designatedRate}}%</td>
        </tr>
        <tr>
          <td>Term Length</td>
          <td>{{loan.TermLength}}</td>
        </tr>
        <tr>
          <td>Applied Date</td>
          <td>{{loan.dateApplied|date: 'dd-mm-yyyy'}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions [class]="this.loanService.getLoanStatus(loan)">
      <span mat-raised-button color="green">{{this.loanService.getLoanStatus(loan)|titlecase}}</span>
    </mat-card-actions>
  </mat-card>
</div>