<br>
<a [routerLink]="['/customer']">back</a>
<div class="modal-form">
  <app-apply-now *ngIf="loanFormStatus"></app-apply-now>

</div>

<div  *ngFor="let loan of allLoans">
  <mat-card class="loan-card">
    <mat-card-header>
      <mat-card-title>{{loan.title.toUpperCase()}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="loan.logo" alt="Photo of {{loan.title}}">
    <mat-card-content>
       <table>
        <tr>
          <td>Loan Amount</td>
          <td>{{loan.loanAmount}}</td>
        </tr>
        <tr>
          <td>Interest Rates</td>
          <td>{{loan.interestRates}}</td>
        </tr>
        <tr>
          <td>Min. Credit Score</td>
          <td>{{loan.Mincreditscore}}</td>
        </tr>
        <tr>
          <td>Term Length</td>
          <td>{{loan.TermLenghth}}</td>
        </tr>
        <tr>
          <td>Processing Fee</td>
          <td>{{loan.ProcessingFee}}</td>
        </tr>
       </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="applyNowClicked()">Apply Now</button>
    </mat-card-actions>
  </mat-card>

</div>