
.loan-card{
    max-width: 400px;
    margin: 5vh 10vh;
}
.modal-form{
    position: fixed;
    top: 10%;
    left: 20%;
  
    background-color: white;
    border: 1px solid black;
    z-index: 10000;
}