/* You can add global styles to this file, and also import other style files */
:root{
    --clr-dark:#09182c;
    --clr-light:#e3f0fc;
    --clr-primary: #147cff;
    --clr-font:#101324;
    --clr-hover:#b10000;
    --clr-action:#147cff;
    --clr-fontLight:white;
    --f-default:Roboto, "Helvetica Neue", sans-serif;
    --f-heading:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 50%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.font-primary, h1, h2, h3, h4{
    font-family: var(--f-heading);
}
.font-secondary{
    font-family: var(--f-default);
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4
html,
body {
    height: 100%;
}

body {
    background-color: var(--clr-light);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custContainer{
    padding: 2rem 3rem;
}
.typeText{
    font-size: 2rem;
    color: var(--clr-font);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.subTypeText{
    font-size: 1.5rem;
    color: var(--clr-font);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    /* height: 30px; */
    text-decoration: none;
    box-sizing: border-box;
    padding:0.5rem 1rem;
    font-size: 1rem;
    display: block;
    background-color: var(--clr-primary);
    color: var(--clr-fontLight);
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: var(--clr-hover);
    transition: background-color 0.5s;
}
.button:active{
    box-sizing: border-box;
    box-shadow:inset 0px 0px 0px 1px var(--clr-action);
}
.submitButton{
    padding: 0.75rem 0;
    margin-block: 1.5rem;
    background-color: var(--clr-primary);
}
.formCard{
    background-color: var(--clr-dark);
    /* border: 2px solid #101324; */
    align-self: center;
    color: var(--clr-fontLight);
    /* text-shadow: 0 0px 15px #1d3557; */
    box-shadow:  0 6px 12px -2px var(--clr-dark);
    border-radius: 1.2rem;
}
.formTitle{
    text-align: center;
    /* padding-bottom: 0.60rem; */
    margin-block: 1.5rem;
    font-size: 2rem;
    /* font-weight: bold; */
    color: var(--clr-fontLight);
    /* text-shadow: 0 0px 15px #1d3557; */
    /* box-shadow: 0 -3px 12px -6px #1d3557 inset; */
    border-radius: 1.2rem 1.2rem 0 0;
}
.formContents{
    /* padding: 1rem 2rem; */
    display: flex;
    flex-direction: column;
    border-radius: 0 0 1.2rem 1.2rem;
    padding-inline: 2rem;
    /* box-shadow: 0 -3px 12px -6px #1d3557 inset;   */
}
.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.formLabel{
    color: var(--clr-fontLight);
    font-size: 1.25rem;
    margin-bottom:0.5rem;
    
}
.formInputField{
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding:0.5rem;
    background-color: var(--clr-light);
    color:var(--clr-font);
}