.homeHeadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block:2rem;
}
.homeHeading{
    font-size: 6.5rem;
    color: var(--clr-font);
    font-weight: 700;
    text-shadow: 0 0px 15px var(--clr-dark); 
}
.homeSubHeading{
    font-size: 1.8rem;
    margin-right: 20rem;
    align-self: flex-end;
    color: red
}
.subText{
    margin-top: 5rem;
    margin-right: 12rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subTextTagline{
    /* text-decoration:underline; */
    font-size: 2.5rem;
}
.super{
    vertical-align: super;
    font-size: 0.5em;
}
.underText{
    display: flex;
    align-self: flex-end;
}